@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
html{
    font-family: 'Roboto', sans-serif;
}

button{
    font-family: inherit;

}

.wrapper{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-auto-rows: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.question{
    font-size: 16px;
}

ul{
    display: inline;
    list-style-type: none;
}

#loading-bar{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:1;

}
#left-container{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    /*background-color:green;*/
}

#myVideo{
    border: 5px #ffd46e solid;
    box-shadow: 5px 5px 5px gray;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
}

.middle-container{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    /*background-color: blue;*/
}

#right-container{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    /*background-color: red;*/
}

